.container-info-type-user{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.container-info-type-user .box{
    display: flex;
    gap: 5px;
    align-items: center;
    font-size: 10px;
}

.container-info-type-user .box1 div:nth-child(1),
.container-info-type-user .box1 div:nth-child(2),
.container-info-type-user .box1 div:nth-child(3){
    display: flex;
    width: 10px;
    height: 10px;
    background-color: #ffdd6d;
    border-radius: 3px;
}

.container-info-type-user .box2 div:nth-child(1),
.container-info-type-user .box2 div:nth-child(2){
    display: flex;
    width: 10px;
    height: 10px;
    background-color: #c2c2c2;
    border-radius: 3px;
}

.container-info-type-user .box2 div:nth-child(3){
    display: flex;
    width: 8px;
    height: 8px;
    border: solid 1px #c2c2c2;
    border-radius: 3px;
}

.container-info-type-user .box3 div:nth-child(1),
.container-info-type-user .box3 div:nth-child(2),
.container-info-type-user .box3 div:nth-child(3){
    display: flex;
    width: 8px;
    height: 8px;
    border: solid 1px #c2c2c2;
    border-radius: 3px;
}
