.asside-menu-bar{
    position: absolute;
    left: 0;
    top: 0;
    width: 186px;
    max-width: 186px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 12px 12px 24px 12px;
}

.asside-menu-bar::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 100%;
    background: linear-gradient(to bottom, rgb(218, 218, 218), white);
    z-index: 9999;
  }

.logo{
    width: 80%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: contain;
    margin: 0 0 0 15px;
}

.menu-item{
    display: flex;
    align-items: center;
    gap: 8px;
    color: #000;
    text-decoration: none;
    font-size: 16px;
    border-radius: 8px;
    font-size: 14px;
    padding: 8px;
    margin: 0 0 8px 0;
}

.menu-item.active,
.menu-item:hover{
    background-color: #F0F0F0;
}

.menu-item svg{
    width: 20px;
    height: 20px;
    fill: #898989;
}