.table-item{
    box-sizing: border-box;
    position: relative;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 78px 16px 48px;

    gap: 16px;

    min-width: 100%;

    height: 100px;

    background: #fff;
    border: 1px solid #EAECF0;

    overflow: hidden;
}

.sm{
    height: 50px !important;
}

.table-item:hover{
    background: #F9FAFB;
}

.table-item-column{
    width: 100%;
    word-break: break-all;
}

.table-item-column a{
    text-decoration: none;
    color: #11181C;
}

.table-item-column a:hover{
    opacity: 0.8;
}

.table-item-id{
    font-size: 12px;
    color:rgb(179, 179, 179);
    padding: 2px 8px 2px 4px;
    background-color: #F9FAFB;
    border-radius: 0 0 10px 0;
    position: absolute;
    top: 0;
    left: 0;
}

.table-item-status{
    width: 10px;
    height: 30px;
    position: absolute;
    left: 0;
    border-radius: 0 10px 10px 0;
}

.sindico_condominio,
.sindico_bloco,
.ocupante_ap{
    width: 100px;
    height: 10px;
    position: absolute;
    left: 5px;
    bottom: 5px;
    border-radius: 0 10px 10px 0;
    display: flex;
    gap: 5px;
}

.sindico_condominio span,
.sindico_bloco span,
.ocupante_ap span{
    font-size: 12px;
    color: rgba(0,0,0, .2);
    font-weight: 500;
    margin-left: 5px;
}

.sindico_condominio div:nth-child(1),
.sindico_condominio div:nth-child(2),
.sindico_condominio div:nth-child(3)
{
    width: 10px;
    border-radius: 3px;
    height: 10px;
    background-color: #ffdd6d;
}

.sindico_bloco div:nth-child(1),
.sindico_bloco div:nth-child(2)
{
    width: 10px;
    border-radius: 3px;
    height: 10px;
    background-color: #c2c2c2;
}

.sindico_bloco div:nth-child(3)
{
    width: 8px;
    height: 8px;
    border-radius: 3px;
    border: solid 1px #c2c2c2;
}

.ocupante_ap div:nth-child(1),
.ocupante_ap div:nth-child(2),
.ocupante_ap div:nth-child(3){
    width: 8px;
    height: 8px;
    border-radius: 3px;
    border: solid 1px #c2c2c2;
}

.ativo,
.concluido{
    background-color: #beeec6;
}

.agendado{
    background-color: #eee6be;
}

.inativo{
    background-color: #eebebe;
}

.table-item-action{
    position: absolute;
    right: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: #F9FAFB;
}

.sm .table-item-action{
    flex-direction: row;
    height: 100%;
} 

.button-action{
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
}

.view:hover svg{
    fill: #5688e4;
}

.edit:hover svg{
    fill: #e4be56;
}

.delete:hover svg{
    fill: #e45656;
}