.container-select-custom {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 15px 0;
}

.container-select-custom 
.select-custom{
    height: 52px;
    width: max-content;

    font-size: 16px;
    font-family: Inter;
    color: #344054;
 
    display: flex;
    

    border: 2px solid #D9D9D9;
    border-radius: 20px;
    background-color: #fff;
    outline: none;

    padding: 0 24px 0 24px;

    cursor: pointer;


}

.container-select-custom 
.select-custom:hover{
    opacity: .7;
}