.table-footer{
    background-color: #F9FAFB;
    text-align: left;
    border: 1px solid #EAECF0;
    border-radius: 0 0 40px 40px !important;
    padding: 16px 78px 16px 48px;

    gap: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.table-footer button {
    border: solid 2px #D0D5DD;
    color: #344054;
    padding: 8px 12px;
    border-radius: 40px;
}

.table-footer button:hover {
    opacity: .5;
    cursor: pointer;
}

.table-footer button:disabled {
    opacity: .2;
    cursor: default;
}