.container-input-date {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 15px 0;
    position: relative;
}

.container-input-date .input-date {
    height: 52px;
    font-size: 16px;
    font-family: Inter;
    color: #344054;

    border: 2px solid #D9D9D9;
    border-radius: 20px;
    outline: none;

    padding: 0 24px 0 24px; /* padding extra à direita por causa do ícone */
    cursor: pointer;
}

.container-input-date svg {
    background-color: #fff;
    position: absolute;
    bottom: 14px;
    right: 16px;
    padding: 3px;
    pointer-events: none; /* evita clique no ícone */
}
