.select-status-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.select-status {
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 4px;
    border: 2px solid #ccc;
    transition: border-color 0.3s, background-color 0.3s;
}

/* Status "ativo" */
.select-status.ativo {
    border-color: #28a745;
    background-color: #e6ffed;
    color: #155724;
}

/* Status "inativo" */
.select-status.inativo {
    border-color: #dc3545;
    background-color: #ffe6e6;
    color: #721c24;
}
