.table-header{
    background-color: #F9FAFB;
    text-align: left;
    border: 1px solid #EAECF0;
    border-radius: 40px 40px 0 0 !important;
    padding: 16px 78px 16px 48px;

    gap: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.table-header-item{
    display: flex;
    align-items: center;
    gap: 8px;
    color: #344054;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    width: 100%;
}

.table-header-item svg{
    width: 24px;
    height: 24px;
    fill: #667085;
    cursor: pointer
}

.table-header-item svg:hover{
    opacity: .2;
}

.table-header-item .false{
    display: none;
}

.table-header-item .active{
    transform: rotate(180deg);
}

.table-header-item .desactive{
    transform: rotate(0deg);
}