.col-status {
    padding: 5px;
    border-radius: 10px;
    text-transform: capitalize;
}

.col-status-concluido{
    background-color: #beeec6;
}

.col-status-agendado{
    background-color: #eee6be;
}

.info-concluido {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    background-color: #beeec6;
}

.info-agendado {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    background-color: #eee6be;
}

.input-date{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}