.container-single-input {
    position: relative;
    width: max-content;
}

.container-single-input .validation-error{
    font-size: 13px;
    color: tomato;
    display: flex;
    position: absolute;
    bottom: -20px;
    right: 0;
}