.navTools{
    display: flex;
    gap: 10px;
}

.info-status-div{
    display: flex;
    gap: 20px;
}

.info-status-div div {
    display: flex;
    align-items: center;
    gap: 5px;
}

.info-status-div div .ativo{
    width: 20px;
    height: 20px;
    border-radius: 5px; 
}

.info-status-div div .inativo{
    width: 20px;
    height: 20px;
    border-radius: 5px; 
}